{
  "extends": ["bambi/native", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "fp"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "prettier/prettier": ["error",{ "printWidth": 120 }],
    "promise/catch-or-return": "off",
    "react/style-prop-object": "error",
    "promise/avoid-new": "off",
    "no-unused-vars": "error",
    "prefer-const": "error",
    "no-console": [
      "error",
      {
        "allow": ["warn", "error", "ignoredYellowBox"]
      }
    ]
  },
  "globals": {
    "__dirname": true
  }
}